{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <section class="dark-grey-text text-center mb-5">
        <h3 class="font-weight-bold mb-5">Account Order History</h3>
        {% if account_orders %}
        {% for order in account_orders %}
        <div class="card mb-5">
            <div class="card-body">
                <table class="table table-responsive-md mb-0">
                    <thead>
                        <tr>
                            <th>
                                <strong>Order {{ forloop.counter }}</strong>
                            </th>
                            <th>
                                <strong>Item</strong>
                            </th>
                            <th>
                                <strong>Price</strong>
                            </th>
                            <th>
                                <strong>Quantity</strong>
                            </th>
                            <th>
                                <strong>Total Item Price</strong>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for orderitem in order.items.all %}
                        <tr>
                            <td></td>
                            <td scope="row">{{ orderitem.item.title }}</td>
                            <td>{% if orderitem.item.discount_price %}
                                <del>£{{ orderitem.item.price|floatformat:2 }}</del>
                                £{{ orderitem.item.discount_price|floatformat:2 }}
                                {% else %}
                                £{{ orderitem.item.price|floatformat:2 }}
                                {% endif %}</td>
                            <td>{{ orderitem.quantity }}</td>
                            <td>{% if orderitem.item.discount_price %}
                                £{{ orderitem.get_total_item_discount_price|floatformat:2 }}
                                {% else %}
                                £{{ orderitem.get_total_item_price|floatformat:2 }}
                                {% endif %}</td>
                        </tr>
                        {% endfor %}
                        {% if order.coupon %}
                        <tr>
                            <td colspan="1"><b>Promo code:</b></td>
                            <td colspan="1"><b>{{ order.coupon.code }}</b></td>
                            <td colspan="2"></td>
                            <td colspan="1"><b>- £{{ order.coupon.value|floatformat:2 }}</b></td>

                        </tr>
                        {% endif %}
                        {% if order.get_total %}
                        <tr>

                            <td colspan="1"><b>Order Total:</b></td>
                            <td colspan="3"></td>
                            <td colspan="1"><b>£{{ order.get_total|floatformat:2 }}</b></td>

                        </tr>
                        {% endif %}
                    </tbody>

                </table>
                <div class="card-body float-left text-left">
                    {% if order.ordered_date %}
                    <h5>Order Date: {{ order.ordered_date }}</h5>
                    {% endif %}
                    {% if order.billing_address %}
                    <h5>Order Address: {{ order.billing_address.street_address }},
                        {{ order.billing_address.post_code }}</h5>
                    {% endif %}
                    {% if order.status %}
                    <h5>Order Status: {{ order.get_status_display }}</h5>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        {% endif %}

    </section>
</div>
{% endblock %}