{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Document</title>
    {% endblock title %}

    {% block head_title %} <title></title>{% endblock %}
    {% block extra_head %}
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- StyleSheets -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet">

    <style type="text/css">
        header,
        .carousel {
            height: 60vh;
        }

        @media (max-width: 740px) {

            header,
            .carousel {
                height: 100vh;
            }
        }

        @media (min-width: 800px) and (max-width: 850px) {

            header,
            .carousel {
                height: 100vh;
            }
        }
    </style>
</head>

<body>

    {% include 'nav.html' %}

    <div class="mt-5 pt-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="content-container">
        {% block content  %}
        {% endblock content %}
    </div>
    {% block body %}
    {% endblock %}

    {% block extra_body %}
    {% endblock %}
    <!--Footer-->
    {% block footer %}
    <footer class="page-footer text-center font-small fadeIn bottom-footer">
        <div class="pt-2">
            <a href="https://twitter.com/GoldenShoes">
                <i class="fab fa-twitter mr-3"></i>
            </a>

            <a href="https://www.facebook.com/GoldenShoes">
                <i class="fab fa-facebook-f mr-3"></i>
            </a>

            <a href="">
                <i class="fab fa-instagram mr-3"></i>
            </a>

        </div>

        <!--Copyright-->
        <div class="footer-copyright py-3">
            © 2020 Copyright:
            <a href="/"> GoldenShoes.com </a>
        </div>
        <!--/.Copyright-->

    </footer>
    {% endblock footer %}
    <!--/.Footer-->
    <!-- SCRIPTS -->
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();
    </script>

</body>

</html>