{% extends "base.html" %}

{% block title %}
<title>Products</title>
{% endblock %}

<body>
    {% block content %}

    <main>
        <div class="container">

            <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

                <span class="navbar-brand">Categories:</span>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="basicExampleNav">

                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">All
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Men's Sports</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Women's Sports</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Casual Footwear</a>
                        </li>

                    </ul>

                    <form class="form-inline">
                        <div class="md-form my-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        </div>
                    </form>
                </div>
            </nav>
            <section class="text-center mb-4">
                <div class="row wow fadeIn">
                    {% for item in object_list %}

                    <div class="col-lg-3 col-md-6 mb-4">

                        <div class="card">

                            <div class="view overlay card-height">
                                <img src="{{ item.image.url }}" class="card-img-top product-image center">
                                <a href="{{ item.get_absolute_url }}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <div class="card-body text-center">

                                <a href="{{ item.get_absolute_url }}" class="grey-text">
                                    <h5>{{ item.get_category_display }}</h5>
                                </a>
                                <h5>
                                    <strong>
                                        <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title }}
                                            <br>
                                            {% if item.get_label_display %}
                                            <span class="badge badge-pill {{ item.get_label_display }}-color">
                                                {% if item.get_label_display == "primary" %} New
                                                {% elif item.get_label_display == "danger" %} Sale
                                                {% elif item.get_label_display == "secondary" %} Seasonal
                                                {% elif item.get_label_display == "info" %} Limited {% endif %}
                                            </span>
                                            {% else %}
                                            <br>
                                            <span class="badge badge-pill"></span>
                                            {% endif %}
                                        </a>
                                    </strong>
                                </h5>

                                <h4 class="font-weight-bold blue-text">
                                    <strong>£
                                        {% if item.discount_price %}
                                        {{ item.discount_price|floatformat:2 }}
                                        {% else %}
                                        {{ item.price|floatformat:2 }}
                                        {% endif %}
                                    </strong>
                                </h4>

                            </div>

                        </div>

                    </div>

                    {% endfor %}
                </div>
            </section>

            {% if is_paginated %}
            <nav class="d-flex justify-content-center wow fadeIn">
                <ul class="pagination pg-blue">

                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% endif %}

                    <li class="page-item active">
                        <a class="page-link" href="?page={{ page_obj.number}}">{{ page_obj.number }}
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    </li>

                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </main>

    {% endblock %}

</body>