{% extends "base.html" %}
{% load crispy_forms_tags %}

<head>
  {% block title %}
  <title>Checkout</title>
  {% endblock title %}
</head>

<body class="grey lighten-3">

  {% block content %}

  <main>
    <div class="container wow fadeIn">

      <h1 class="my-5 h2 text-center"><b>Checkout</b></h1>

      <div class="row">

        <div class="col-md-8 mb-4">

          <div class="card">

            <!-- {{ form|crispy }}-->

            <form class="card-body" method="POST">
              {% csrf_token %}
              <div class="md-form mb-5 align-center">
                <h2>Billing Information</h2>
              </div>


              <div class="md-form mb-5">
                {{ form.street_address }}
                <label for="address" class="">Address</label>
              </div>

              <div class="md-form mb-5">
                {{ form.apartment_address }}
                <label for="address-2" class="">Address 2 (optional)</label>
              </div>

              <div class="row">

                <div class="col-lg-4 col-md-12 mb-4">

                  <label for="country">Country</label>

                  {{ form.country }}
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>

                </div>

                <div class="col-lg-4 col-md-6 mb-4">

                  <label for="zip">PostCode</label>
                  {{ form.post_code }}
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>

                </div>

              </div>

              <hr>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="cc-name">Name on card</label>
                  {{ form.card_name }}
                  <small class="text-muted">Full name as displayed on card</small>
                  <div class="invalid-feedback">
                    Name on card is required
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="cc-number">Credit card number</label>
                  {{ form.card_number }}
                  <div class="invalid-feedback">
                    Credit card number is required
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 mb-3">
                  <label for="cc-expiration">Expiration</label>
                  {{ form.card_expiration }}
                  <div class="invalid-feedback">
                    Expiration date required
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="cc-expiration">CVV</label>
                  {{ form.card_cvv }}
                  <small class="text-muted">3 digits displayed on card</small>
                  <div class="invalid-feedback">
                    Security code required
                  </div>
                </div>
              </div>
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Checkout</button>

            </form>

          </div>

        </div>

        <div class="col-md-4 mb-4">

          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">{{ order.get_total_items }}</span>
          </h4>

          <ul class="list-group mb-3 z-depth-1">
            {% for order_item in order.items.all %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">{{ order_item.item.title }}</h6>
                {% if order_item.item.brief_desc %}
                <small class="text-muted">{{ order_item.item.brief_desc }}</small>
                {% endif %}
              </div>
              <span class="text-muted">£{{ order_item.item.price|floatformat:2 }} x {{ order_item.quantity }}</span>
            </li>
            {% endfor %}
            {% if order.coupon %}
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Promo code</h6>
                <small>{{ order.coupon.code }}</small>
              </div>
              <span class="text-success">- £{{ order.coupon.value|floatformat:2 }}</span>
            </li>
            {% endif %}
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (GBP)</span>
              <strong>£{{ order.get_total|floatformat:2 }}</strong>
            </li>
          </ul>

          <form class="card p-2" action="{% url 'core:add-coupon' %}" method="POST">
            {% csrf_token %}
            <div class="input-group">
              {{ couponform.code }}
              <div class="input-group-append">
                <button class="btn btn-secondary btn-md waves-effect m-0" type="submit">Redeem</button>
              </div>
            </div>
          </form>

        </div>

      </div>

    </div>

  </main>

  {% endblock content %}

</body>

</html>