{% extends "base.html" %}

<head>
  {% block title %}
  <title>Home</title>
  {% endblock title %}
</head>

<body>
  {% block content %}

  <div id="carousel-example-1z" class="carousel slide carousel-fade pt-4" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-1z" data-slide-to="1"></li>
      <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">

      <div class="carousel-item active">
        <div class="view"
          style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%282%29.jpg'); background-repeat: no-repeat; background-size: cover;">
          <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>Spring Release Now Available!</strong>
              </h1>
              <p>
                <strong>Our latest seasonal release is now available online and in-store</strong>
              </p>
              <p class="mb-4 d-none d-md-block">
                <strong>This seasonal is the spring release, this includes new products from brands such as Christian
                  Louboutin, Jimmy Choo, Chanel and many more!</strong>
              </p>
              <a target="_blank" href="{% url 'core:catalogue' %}" class="btn btn-outline-white btn-lg">Start
                browsing
                <i class="fas fa-cart-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="view"
          style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%283%29.jpg'); background-repeat: no-repeat; background-size: cover;">
          <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>Back To Work Range</strong>
              </h1>
              <p>
                <strong>Christmas holidays are over, but that isnt a reason to be sad</strong>
              </p>
              <p class="mb-4 d-none d-md-block">
                <strong>Our back to work range will brighten up your day and your style at the same time, use coupon
                  'BackToWork' at checkout for £10 off your next order!</strong>
              </p>
              <a target="_blank" href="{% url 'core:catalogue' %}" class="btn btn-outline-white btn-lg">Start
                browsing
                <i class="fas fa-cart-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="view"
          style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%285%29.jpg'); background-repeat: no-repeat; background-size: cover;">
          <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>Birthday Suprise</strong>
              </h1>
              <p>
                <strong>Is it your birthday? Come claim a gift from us!</strong>
              </p>
              <p class="mb-4 d-none d-md-block">
                <strong>If it is your birthday come into one of our stores to receive a little something from us to you
                  on your special day.</strong>
              </p>
              <i class="fas fa-birthday-cake"></i>
              <p><small>T&C apply</small></p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="container my-5">
    <hr>
    <div class="card-deck">

      <div class="card">
        <div class="card-body">
          <i class="fas fa-truck"></i>
          <h4 class="card-title">Shipping</h4>
          <hr>
          <p class="card-text">We are able to ship our stock directly to your front door!
          </p>
        </div>
        <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
          <ul class="list-unstyled list-inline font-small">
            <li class="list-inline-item pr-2 white-text"><a href="{% url 'core:support' %}">Find out more <i
                  class="fas fa-angle-double-right"></i></a>
            </li>
          </ul>
        </div>
      </div>



      <div class="card">
        <div class="card-body">
          <i class="fas fa-hands-helping"></i>
          <h4 class="card-title">Support</h4>
          <hr>
          <p class="card-text">Need some help? Check out our support section for more information and details on how to
            contact us.
          </p>
        </div>
        <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
          <ul class="list-unstyled list-inline font-small">
            <li class="list-inline-item pr-2 white-text"><a href="{% url 'core:support' %}">Go to support <i
                  class="fas fa-angle-double-right"></i></a>
            </li>
          </ul>
        </div>
      </div>


      <div class="card">
        <div class="card-body">
          <i class="fas fa-gift"></i>
          <h4 class="card-title">Gift</h4>
          <hr>
          <p class="card-text">Buying an item as a gift? Let us know and we can arrange discrete delivery and gift
            wrapping.
          </p>
        </div>
        <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
          <ul class="list-unstyled list-inline font-small">
            <li class="list-inline-item pr-2 white-text"><a href="{% url 'core:support' %}">Read more <i
                  class="fas fa-angle-double-right"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}
</body>

</html>