{% block navbar %}
{% load cart_template_tags %}

<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

        <a class="navbar-brand waves-effect" href="/">
            <strong class="blue-text">GoldenShoes</strong>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item {% if current == 'home' %}active{% endif %} mr-1">
                    <a class="nav-link waves-effect" href="/">Home
                        {% if current == 'home' %} <span class="sr-only">(current)</span>{% endif %}
                    </a>
                </li>
                <li class="nav-item {% if current == 'products' %}active{% endif %}">
                    <a class="nav-link waves-effect" href="/product">Products</a>
                    {% if current == 'products' %} <span class="sr-only">(current)</span>{% endif %}
                </li>
            </ul>

            <!-- Right -->
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                <li class="nav-item {% if current == 'cart' %}active{% endif %}">
                    <a class="nav-link waves-effect" href="{% url 'core:order-summary' %}">
                        <span class="badge red z-depth-1 mr-1"> {{ request.user|cart_item_count }} </span>
                        <i class="fas fa-shopping-cart"></i> Cart
                    </a>
                </li>
                <li class="nav-item {% if current == 'support' %}active{% endif %}">
                    <a class="nav-link waves-effect" href="/support">Support</a>
                    {% if current == 'support' %} <span class="sr-only">(current)</span>{% endif %}
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Account
                    </a>
                    <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" href="{% url 'core:account-orders' %}">Orders</a>
                        <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                    </div>
                </li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="{% url 'account_login' %}">
                        <span class="clearfix d-sm-inline-block"> Login </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="{% url 'account_signup' %}">
                        <span class="clearfix d-sm-inline-block"> SignUp </span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% endblock navbar %}