{% extends "base.html" %}

<head>
    {% block title %}
    <title>Order</title>
    {% endblock title %}
</head>

<body>
    {% block content %}
    <main>
        <div class="container">
            <div class="table-responsive text-nowrap">

                <h2>Order Summary</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Item</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total Item Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for orderitem in object.items.all %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td><a href="{{ orderitem.item.get_absolute_url }}">{{ orderitem.item.title }}</a></td>
                            <td>{% if orderitem.item.discount_price %}
                                <del>£{{ orderitem.item.price|floatformat:2 }}</del>
                                £{{ orderitem.item.discount_price|floatformat:2 }}
                                {% else %}
                                £{{ orderitem.item.price|floatformat:2 }}
                                {% endif %}</td>
                            <td><a href="{% url 'core:remove-single-from-cart' orderitem.item.slug %}"><i
                                        class="fas fa-minus mr-2"></i></a>{{ orderitem.quantity }}<a
                                    href="{% url 'core:add-single-to-cart' orderitem.item.slug %}"><i
                                        class="fas fa-plus ml-2"></i></a></td>
                            <td>{% if orderitem.item.discount_price %}
                                £{{ orderitem.get_total_item_discount_price }}
                                (Saving £{{ orderitem.get_amount_saved|floatformat:2 }})
                                {% else %}
                                £{{ orderitem.get_total_item_price|floatformat:2 }}
                                {% endif %}
                                <a style="color:red" href="{% url 'core:remove-from-cart' orderitem.item.slug %}"><i
                                        class="fas fa-trash float-right"></i></a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td>Your cart is empty</td>
                        </tr>
                        <tr>
                            <td>
                                <a href=" {% url 'core:catalogue' %}" class="btn btn-warning">Continue Shopping</a>
                            </td>
                        </tr>

                        {% endfor %}
                        {% if object.coupon %}
                        <tr>
                            <td colspan="1"><b>Promo code:</b></td>
                            <td colspan="3"><b>{{ object.coupon.code }}</b></td>
                            <td colspan="1"><b>- £{{ object.coupon.value|floatformat:2 }}</b></td>

                        </tr>
                        {% endif %}
                        {% if object.get_total %}
                        <tr>

                            <td colspan="4"><b>Order Total:</b></td>
                            <td colspan="1"><b>£{{ object.get_total|floatformat:2 }}</b></td>

                        </tr>
                        <tr>

                            <td colspan="5"><a href="{% url 'core:catalogue' %}" class="btn btn-warning">Continue
                                    Shopping</a><a href="/checkout/" class="btn btn-default float-right">Checkout</a>
                            </td>

                        </tr>
                        {% endif %}
                    </tbody>
                </table>
                <div>

                </div>
            </div>
        </div>
    </main>
    {% endblock content %}
</body>

</html>