{% extends "base.html" %}

<head>
  {% block title %}
  <title>Product</title>
  {% endblock title %}
</head>

<body>
  {% block content %}
  <div class="container">
    <a href="{{ previous_page }}">
      <button type="button" class="btn btn-mdb-color"><i class="fas fa-angle-left"></i> Back</button></a>
  </div>

  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
      <div class="row wow fadeIn">
        <div class="col-md-6 mb-4 view overlay zoom">
          <img src="{{ object.image.url }}" class="img-fluid">
        </div>
        <div class="col-md-6 mb-4">
          <div class="p-4">
            <div class="mb-3">
              <h2 class=" mr-1">{{ object.title }}</h2>
            </div>
            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{ object.get_category_display }}</span>
              </a>
            </div>

            <p class="lead">
              {% if object.discount_price %}
              <span class="mr-1">
                <del>£{{ object.price|floatformat:2 }}</del>
              </span>
              <span>£{{ object.discount_price|floatformat:2 }}</span>
              {% else %}
              <span>£{{ object.price|floatformat:2 }}</span>
              {% endif %}
            </p>

            <p class="lead font-weight-bold">Description</p>
            <p>{{ object.description }}</p>
            {% if user.is_authenticated %}
            {% if object.stock > 0 %}
            <span class="badge badge-info mb-4 ml-1">{{ object.stock }} in stock</span>
            <br>
            {% for product in order.items.all %}
            {% if product.item.title == object.title %}
            <span class="badge badge-primary mb-4 ml-1">{{ product.quantity }} in cart</span>
            <br>
            {% endif %}
            {% endfor %}
            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            {% else %}
            <button class="btn btn-primary btn-md my-0 p" disabled>Out of stock
              <i class="fas fa-shopping-cart ml-1"></i>
            </button>
            <br>
            <span class="badge badge-info mt-4">Sorry this item is temporarily out of stock, please check again
              another
              time</span>
            {% endif %}
            {% else %}
            <div>
              <p>Please <a href="{% url 'account_login' %}">sign in</a> to add to your cart!</p>
            </div>
            {% endif %}
          </div>
        </div>
      </div>

      <hr>

      <div class=" row d-flex justify-content-center wow fadeIn">
        <div class="col-md-6 text-center">
          <h4 class="my-4 h4">Additional Items</h4>
          <p>Here are some additional items you may want to consider viewing.</p>
        </div>
      </div>

      <div class="row wow fadeIn">
        {% for item in additional_items %}
        <div class="col-lg-4 col-md-12 mb-4">
          <a href="{{ item.get_absolute_url }}">
            <img src="{{ item.image.url }}" class="img-fluid" alt=""></a>
        </div>
        {% endfor %}
      </div>
    </div>
  </main>
  
  {% endblock content %}
</body>

</html>