{% extends 'base.html' %}

{% block title %}
<title>Support</title>
{% endblock %}

{% block content %}
<div class="container my-5">

    <section>
        <h6 class="font-weight-normal text-uppercase font-small grey-text mb-4 text-center">FAQ</h6>
        <h3 class="font-weight-bold black-text mb-4 pb-2 text-center">Frequently Asked Questions</h3>
        <hr class="w-header">
        <p class="lead text-muted mx-auto mt-4 pt-2 mb-5 text-center">Got a question? We've got answers. If you have
            some other questions, see how to contact us below.</p>
        <div class="row">
            <div class="col-md-12 col-lg-10 mx-auto mb-5">
                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                    <div class="card border-top border-bottom-0 border-left border-right border-light">

                        <div class="card-header border-bottom border-light" role="tab" id="headingOne1">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1"
                                aria-expanded="true" aria-controls="collapseOne1">
                                <h5 class="black-text font-weight-normal mb-0">
                                    Is this a secure site for purchases? <i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>

                        <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                Absolutely! We work with top payment companies which guarantees your safety and
                                security. All billing information is stored on our payment processing partner which has
                                the most stringent level of certification available in the payments industry.
                            </div>
                        </div>

                    </div>

                    <div class="card border-bottom-0 border-left border-right border-light">

                        <div class="card-header border-bottom border-light" role="tab" id="headingTwo2">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                                aria-expanded="false" aria-controls="collapseTwo2">
                                <h5 class="black-text font-weight-normal mb-0">
                                    What is the return process? <i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>

                        <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                To return an order simply contact a member of our staff through
                                <b>support@goldenshoe.com</b>, giving details of the order id and reason for wanting to
                                return the item.
                            </div>
                        </div>

                    </div>

                    <div class="card border-left border-right border-light">

                        <div class="card-header border-bottom border-light" role="tab" id="headingThree4">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                href="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
                                <h5 class="black-text font-weight-normal mb-0">
                                    Can I request refund? <i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>

                        <div id="collapseThree4" class="collapse" role="tabpanel" aria-labelledby="headingThree4"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                Unfortunately, not. We do not issue full or partial refunds for any reason unless the
                                item is returned to us.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr class="">

    <div class="card-deck">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><i class="fas fa-phone"></i>
                    - Phone Us
                </h4>
                <hr>
                <p class="card-text">Phone our helpline, one of our staff will be more than happy to help you with any
                    issues you may be having.</p>
            </div>
            <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
                <ul class="list-unstyled list-inline font-small">
                    <li class="list-inline-item pr-2 white-text">01368-356-353</li>
                    <hr>
                    <li class="list-inline-item pr-2 white-text"><i class="far fa-clock pr-1"></i>9am-5pm Mon-Fri</li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><i class="far fa-envelope"></i> - Email Us</h4>
                <hr>
                <p class="card-text">Email our support team, they will help you as
                    soon as they can!</p>
            </div>
            <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
                <ul class="list-unstyled list-inline font-small">
                    <li class="list-inline-item pr-2 white-text">support@goldenshoe.com</li>
                    <hr>
                    <li class="list-inline-item pr-2 white-text"><i class="far fa-clock pr-1"></i>24/7</li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><i class="far fa-comment"></i> - Chat to us</h4>
                <hr>
                <p class="card-text">Introducing our new support Chat! Our system is able to diagnose most common issues
                    our customers encounter.</p>
                <a>
                </a>
            </div>
            <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
                <ul class="list-unstyled list-inline font-small">
                    <li class="list-inline-item pr-2 white-text">Open Chat - <i class="fas fa-angle-double-right"></i>
                    </li>
                    <hr>
                    <li class="list-inline-item pr-2 white-text"><i class="far fa-clock pr-1"></i>24/7</li>

                </ul>
            </div>
        </div>

    </div>
</div>
{% endblock %}